NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google OAuth 2.0 Credentials (Set your Google Cloud Console credentials here)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

JWT_SECRET=""