# PostgreSQL / Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google OAuth 2.0 Credentials (Set your Google Cloud Console credentials here)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# JWT Secret for Session & Cryptographic ID Tokens
JWT_SECRET=""

# Authority / Government Admin Portal Credentials
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_SECRET_KEY="safirpass-gov-authority-secure-key"

# MongoDB Database Connection String
MONGODB_URI="mongodb://127.0.0.1:27017/safirpass"
MONGODB_DB_NAME="safirpass"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=